<%- include('partials/boilerplate.ejs') %>

    <title>Home</title>
    </head>

    <body>
        <%- include('./partials/_navbar.ejs') %>
            <h1>Welcome to Home Page</h1>
    </body>

    </html>