<%- include('../partials/boilerplate.ejs') %>

    <title>Quiz Page</title>
    </head>

    <body>
        <%- include('../partials/_navbar.ejs') %>
            <h1>Quiz Page</h1>
            <a href="/users/<%= user._id %>/quizzes/new" class="btn2">New Quiz</a>

    </body>

    </html>